{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "es5",
  "useTabs": false,
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "printWidth": 80,
  "requirePragma": false
}
